/* 

Generel styling, samlet på et stede - dette styrer kun udseende, ikke layout!

*/
main {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at center bottom, #e2cb91 5%,transparent 6%, transparent 19%, #e2cb91 20%, #e2cb91 25%, transparent 26%, transparent 39%, #e2cb91 40%, #e2cb91 45%, transparent 46%), radial-gradient(circle at center top, #e2cb91 5%,transparent 6%, transparent 19%, #e2cb91 20%, #e2cb91 25%, transparent 26%,transparent 39%, #e2cb91 40%, #e2cb91 45%, transparent 46%), radial-gradient(circle at left,#e2cb91 5%, transparent 6%), radial-gradient(circle at right,#e2cb91 5%, transparent 6%);
  background-size: 5em 5em;
  background-color: #e7d0aa;
  opacity: 1;
}

/* sætter de grønne "skyer" ind*/
.mobil_long {
  background-image: url(../media/mobile_long.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 245vh;
  z-index: 10;
  margin-top: 150px;
}
.mobil_short {
  background-image: url(../media/mobile_short.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 160vh;
}
/* Desktopversion - de nye baggrundsbilleder grønne "skyer" */
@media screen and (min-width: 700px) {
  .mobil_long {
    background-image: url(../media/web_medium.svg);
    flex-direction: row; /* Sørg for, at sektionerne er side om side */
    height: 140vh; 
    margin-top: 200px;
  }
  .mobil_short {
    background-image: url(../media/web_large.svg);
    flex-direction: row; 
    height: 200vh; 
  }
/* fortæller hvor sektionerne skal være plassert*/
  .mobil_long .sanke {
    order: 2;
  }
  .mobil_long .hilda {
    order: 1;
  }
   /* fortæller hvor sektionerne skal være plassert*/
   .spis_som_v{
    flex: 1;
  }
  .sec_hilda_astrid {
    flex: 1; 
    padding-left: 20px; 
  }
  .sanke {
    margin-top: 260px;
    margin-right: 60px;
    margin-left: 30px;
  }
}


/* hilda - mobilskærme */
@media screen and (max-width: 767px) {
  .desktop_hilda {
    display: none; /* Skjul desktop-billedet på mobil */
  }
  .mobil_hilda {
    display: block; /* Vis mobilbilledet på mobil */
  }
}

/* hilda - desktopskærme */
@media screen and (min-width: 768px) {
  .desktop_hilda {
    display: block; /* Vis desktop-billedet på desktop */
  }
  .mobil_hilda {
    display: none; /* Skjul mobilbilledet på desktop */
  }
}
/*fortæller hvordan intro sektionen er plasseret.*/
.into {
  display: flex;
  flex-direction: column; /* sektion på mobil */
 

}
.spis_som {
  background-color: rgba(255, 255, 255, 0.577); 
  border-radius: 35px; /* Runde kanter med en radius på 10px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Skyggeeffekt for at fremhæve kassen */
  max-width: 600px;
  margin: 20px;
  padding: 30px;
  z-index: 1;
}

.knud_container {
  position: relative;
}

/* Størrelse på vikingerne i mobil */
.knud {
  width: 250px; 
  position: absolute;
  top: -50px;
  right: 20px;
  z-index: 5;
}
.mobil_hilda {
  width: 350px;
}
.hilda2 {
  width: 190px;
}
.astrid{
  width: 170px;
}
/* vikinger Desktop-version */
@media screen and (min-width: 768px) {
  .knud {
    width: 600px; 
    margin-top: -200px;
    right: 40px;
  }
.desktop_hilda {
  width: 390px;
  margin-left: 60px;
  margin-top: 240px;
}
.hilda2 {
  width: 220px;
}
.astrid{
  width: 210px;
}
.spis_som {
  margin-top: 100px;
}
}





:root {
  /* 
      Tilføj alle farver som variabler:
      --hvorvibrugerfarven: #farvvalget;
      */
}
