/* 

Generel styling, samlet på et stede - dette styrer kun udseende, ikke layout!

*/
main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

body{
  display: grid;
  background: radial-gradient(circle at center bottom, #e2cb91 5%,transparent 6%, transparent 19%, #e2cb91 20%, #e2cb91 25%, transparent 26%, transparent 39%, #e2cb91 40%, #e2cb91 45%, transparent 46%), radial-gradient(circle at center top, #e2cb91 5%,transparent 6%, transparent 19%, #e2cb91 20%, #e2cb91 25%, transparent 26%,transparent 39%, #e2cb91 40%, #e2cb91 45%, transparent 46%), radial-gradient(circle at left,#e2cb91 5%, transparent 6%), radial-gradient(circle at right,#e2cb91 5%, transparent 6%);
  background-size: 5em 5em;
  background-color: #e8d4b4;
  opacity: 1;
  grid-template-columns: repeat(auto-fit 1fr);
  grid-template-rows: auto;
}

/* sætter de grønne "skyer" ind*/
.mobil_long {
  background-image: url(../media/mobile_long.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 245vh;
  z-index: 10;
  margin-top: 140px;
}
.mobil_short {
  background-image: url(../media/mobile_long.svg);/* Er blevet nød til at sætte den lange ind også, for ellers kunen det ikk evære der*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 245vh;
}
.sanke {
  margin-top: 100px;
}
.spis_som_v1 {
  margin-top: 110px;
}
/* Desktopversion - de nye baggrundsbilleder grønne "skyer" */
@media screen and (min-width: 700px) {
  .mobil_long {
    background-image: url(../media/web_medium.svg);
    flex-direction: row; /* Sørg for, at sektionerne er side om side */
    background-size: contain ;
    max-width: 1200px;
    margin-top: 190px;  
    height: 160vh;
  }

  .mobil_short {
    background-image: url(../media/web_large.svg);
    flex-direction: row; 
    background-size: contain ;
    max-width: 1200px;
    
  }
/* fortæller hvor sektionerne skal være plassert*/
  .mobil_long .sanke {
    order: 2;
  }
  .mobil_long .sec_hilda {
    order: 1;
  }
  .sanke {
    margin-top: 210px;
    margin-right: 20px;
    margin-left: 20px;
  }
   /* fortæller hvor sektionerne skal være plassert*/
   .spis_som_v1{
    flex: auto;
    grid-auto-columns: auto;
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 40px;
  }
  .spis_som_v2{
    grid-row-start: 2;
    grid-column: 1 / span 3;
    margin-top: -900px;
    margin-right: 50px;
    margin-left: 40px;
    
}
  }
  .sec_hilda_astrid .hilda2 {
    width: 180px;
  }
  .sec_hilda_astrid .astrid {
    width: 180px;
  }
  .sec_hilda_astrid {
    flex: auto;
    margin-top: 250px;
  }

/* spis som en vikking sektion....*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-auto-columns: auto;
  gap: 20px; 
}
.spis_som_v1 {
  grid-row: 1; 
  grid-column: 1 / span 2; 
  height: 0px;
}
.sec_hilda_astrid {
  grid-row: 1; 
  grid-column: 3;
  height: 0px;
}

/* Style for  .sankelink div */
@media screen and (max-width: 768px) {
  .sec_hilda {
    position: relative; 
  }
  /* Rykker på linket*/
  .sankelink a{
    text-align: center; 
    position: absolute; 
    font-size: 1rem;
    left: 180px; 
    top: 1390px;
    z-index: 15;  
  }
}


/* hilda - mobilskærme */
@media screen and (max-width: 767px) {
  .desktop_hilda {
    display: none; /* Skjul desktop-billedet på mobil */
  }
  .mobil_hilda {
    display: block; /* Vis mobilbilledet på mobil */
  }
}

/* hilda - desktopskærme */
@media screen and (min-width: 768px) {
  .desktop_hilda {
    display: block; /* Vis desktop-billedet på desktop */
  }
  .mobil_hilda {
    display: none; /* Skjul mobilbilledet på desktop */
  }
}
/*fortæller hvordan intro sektionen er plasseret.*/
.into {
  display: flex;
  flex-direction: column; /* sektion på mobil */
 

}
.spis_som {
  background-color: rgba(255, 255, 255, 0.577); 
  border-radius: 35px; /* Runde kanter med en radius på 10px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Skyggeeffekt for at fremhæve kassen */
  max-width: 300px;
  margin: 40px;
  padding: 10px;
  padding-top: 20px;
  z-index: 1;
}

.knud_container {
  position: relative;
}
/* Størrelse på vikingerne i mobil */
.knud {
  width: 280px; 
  position: absolute;
  top: -80px;
  right: 10px;
  z-index: 5;
}
.mobil_hilda {
  width: 350px;
  margin-left: 10px;
}
.hilda2 {
  width: 190px;
}
.astrid{
  width: 170px;
}
/* vikinger Desktop-version */
@media screen and (min-width: 768px) {
  .knud {
    width: 600px; 
    margin-top: -200px;
    right: 20px;
  }
.desktop_hilda {
  width: 390px;
  margin-left: 50px;
  margin-top: 170px;
}
.hilda2 {
  width: 220px;
}
.astrid{
  width: 210px;
}
.spis_som {
  margin-top: 100px;
  margin-left: 90px;
  max-width: 500px ;
}
}





:root {
  /* 
      Tilføj alle farver som variabler:
      --hvorvibrugerfarven: #farvvalget;
      */
}



/* Før_Under_Efter sanke UX cards */

.cards{
  justify-content: space-around;
  font-size: 1px;
}

/* flip card container*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 1px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: beige;
  color: white;
  transform: rotateY(180deg);
}

/* OPSKRIFTER */

.opskrifter{
  box-sizing: border-box;

}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}